h1 {color: rgb(72, 255, 0); font: size 18px;}
h2 {color: #dddddd; font: size 36px;}
/* word - основные теги
  .word - классы
  #word - id 
  могут быть составные - word, #word, .word {}
  * - ко всем элементам 
  в классах можно применять к нескольким - пишется через пробел
*/

